# Set default behavior to automatically normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to LF on checkin
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.tf text eol=lf
Pipfile* text eol=lf
Dockerfile* text eol=lf